# Python Libraries

In [1]:
import pandas as pd
import os
import numpy as np
import pandas as pd
import datetime
import time
from datetime import datetime
import matplotlib.pyplot as plt
from collections import defaultdict

In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
pd.set_option('max_colwidth', -1)

<ipython-input-2-af59b17b2a7e>:3: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('max_colwidth', -1)

# Importing/Loading of Kaggle Google App Dataset

In [3]:
filepath = "/Users/ketansahu/Documents/DataEngineeringProject/GitHubRepo/googleplaystore.csv"
df = pd.read_csv(filepath ,encoding='utf-8')
col_name = ['app',  'category', 'rating', 'reviews', 'app_size', 'installs', 'app_type', 'price', 'content_rating', 'genres', 'last_updated', 'current_version', 'android_version']
df.columns = col_name
df

,app,category,rating,reviews,app_size,installs,app_type,price,content_rating,genres,last_updated,current_version,android_version
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide Apps",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10834,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10835,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10836,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10837,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10838,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [4]:
#Add 500 Random user_id
df["user_id"] = np.random.randint(1, 500, len(df))
#Add download date
df["download_date"] = pd.date_range('today', periods=len(df), freq='30min').normalize()
#reindex the column order
df = df.reindex(columns=['download_date', 'user_id', 'app',  'category', 'rating', 'reviews', 'app_size', 'installs', 'app_type', 'price', 'content_rating', 'genres', 'last_updated', 'current_version', 'android_version'])
#Sort the Dataframe based on the the download_date
df = df.sort_values('download_date')
#reset the index=row numbers
df = df.reset_index(drop =True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10839 entries, 0 to 10838
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   download_date    10839 non-null  datetime64[ns]
 1   user_id          10839 non-null  int64
 2   app              10839 non-null  object
 3   category         10839 non-null  object
 4   rating           9365 non-null   float64
 5   reviews          10839 non-null  int64
 6   app_size         10839 non-null  object
 7   installs         10839 non-null  object
 8   app_type         10838 non-null  object
 9   price            10839 non-null  object
 10  content_rating   10839 non-null  object
 11  genres           10839 non-null  object
 12  last_updated     10839 non-null  object
 13  current_version  10831 non-null  object
 14  android_version  10837 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(11)
memory usage: 1.2+ MB

# App Details

In [5]:
#Assign app_id to each unique app in the dataset. app_id starts from 500 to #
df['app_id'] = df.groupby(['app']).ngroup()
df['app_id'] = df['app_id'].map(lambda q: q+500)

In [6]:
#Total unique app in the data set
df_app = df['app'].unique()
len(df_app)

9659

# Fake User Details Dataset

In [19]:
from faker import Faker
fake = Faker()
n = 500
faker_data = pd.DataFrame([[fake.name(), np.random.randint(18,65), fake.state()] for _ in range(n)],
     columns=['user_name', 'user_age', 'user_location'])
faker_data['user_id'] = range(1, 1+len(faker_data))
#user_id = pd.factorize(faker_data.apply(tuple, axis=1))[0] + 1
#faker_data.insert(loc=0, column='user_id', value=user_id)
faker_data.head(30)

                    user_name  user_age   user_location  user_id
0   Deborah English            55        Massachusetts   1
1   Michael Henry              61        Virginia        2
2   Desiree Little             37        Ohio            3
3   Amber Bennett              49        Oklahoma        4
4   Jennifer Gonzales          34        Kentucky        5
5   Thomas Savage              28        Washington      6
6   Mrs. Cassandra Thomas DDS  58        Vermont         7
7   Scott Foster               43        Maine           8
8   James Brown                44        Wisconsin       9
9   Stacy Avery                59        North Dakota    10
10  Lawrence Adams             46        Nebraska        11
11  Jacob Washington           37        South Dakota    12
12  Morgan Lawson              62        Wyoming         13
13  Gerald Taylor              38        New Jersey      14
14  Jamie Mata                 39        New Mexico      15
15  Jacob Wolf                 64        Maryland        16
16  Ashley Wallace             39        Connecticut     17
17  Luis Maddox                34        Utah            18
18  Christopher Allen          61        South Carolina  19
19  Robert Bowers              35        Georgia         20
20  Denise Knight              26        South Carolina  21
21  Michael Mclaughlin         53        Pennsylvania    22
22  Robert Ramirez             36        Michigan        23
23  Francisco Martinez         47        Tennessee       24
24  Debbie Mays                40        Virginia        25
25  Pamela Harris              58        Kentucky        26
26  Ashley Lynch               36        Ohio            27
27  Joshua Acosta              53        New Jersey      28
28  Katrina Mccann             37        New Jersey      29
29  Karen Ramos                41        Washington      30

# Data Merge (Kaggle Google App Data + Fake User Details Data)

In [20]:
#Merge Faker data to kaggle data on left
users_app_data = df.merge(faker_data, on='user_id', how='left')
#Add time spent column
users_app_data['time_spent_min'] = np.random.randint(30, 250, len(users_app_data))
#users_app_data['user_details'] = users_app_data['user_name'] + ', ' + users_app_data['user_age'].astype(str) + ', ' + users_app_data['user_location'] + ', ' + users_app_data['time_spent_min'].astype(str)
#users_app_data = users_app_data.drop(['user_name', 'user_age', 'user_location', 'time_spent_min'], 1)
users_app_data

,download_date,user_id,app,category,rating,reviews,app_size,installs,app_type,price,content_rating,genres,last_updated,current_version,android_version,app_id,user_name,user_age,user_location,time_spent_min
0,2021-04-26,212,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,7462,Tyrone Harrison,37,Louisiana,236
1,2021-04-26,201,Photo Designer - Write your name with shapes,ART_AND_DESIGN,4.7,3632,5.5M,"500,000+",Free,0,Everyone,Art & Design,"July 31, 2018",3.1,4.1 and up,7460,Stephen Nguyen,53,Tennessee,166
2,2021-04-26,91,Learn To Draw Kawaii Characters,ART_AND_DESIGN,3.2,55,2.7M,"5,000+",Free,0,Everyone,Art & Design,"June 6, 2018",NaN,4.2 and up,6268,Bethany Ford,27,Oregon,69
3,2021-04-26,352,3D Color Pixel by Number - Sandbox Art Coloring,ART_AND_DESIGN,4.4,1518,37M,"100,000+",Free,0,Everyone,Art & Design,"August 3, 2018",1.2.3,2.3 and up,560,Nicholas White,58,Hawaii,229
4,2021-04-26,392,Tattoo Name On My Photo Editor,ART_AND_DESIGN,4.2,44829,20M,"10,000,000+",Free,0,Teen,Art & Design,"April 2, 2018",3.8,4.1 and up,8776,Melanie Saunders,32,Wyoming,169
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10834,2021-12-08,449,Poop FR,FAMILY,NaN,6,2.5M,50+,Free,0,Everyone,Entertainment,"May 29, 2018",1.0,4.0.3 and up,7597,Susan Hess,25,Oklahoma,243
10835,2021-12-08,213,Fr. Daoud Lamei,FAMILY,5.0,22,8.6M,"1,000+",Free,0,Teen,Education,"June 27, 2018",3.8.0,4.1 and up,5108,Isabel Hunter,32,Utah,114
10836,2021-12-08,41,Fanfic-FR,BOOKS_AND_REFERENCE,3.3,52,3.6M,"5,000+",Free,0,Teen,Books & Reference,"August 5, 2017",0.3.4,4.1 and up,4868,William Williams,37,Louisiana,181
10837,2021-12-08,238,Manga-FR - Anime Vostfr,COMICS,3.4,291,13M,"10,000+",Free,0,Everyone,Comics,"May 15, 2017",2.0.1,4.0 and up,6534,Joshua Peterson,18,New Mexico,224
10838,2021-12-08,246,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device,9986,Brendan Gay,42,Iowa,121

# Data Cleaning

In [9]:
#Check Total Duplicates
(users_app_data.duplicated().value_counts()/users_app_data.shape[0])*100

False    100.0
dtype: float64

In [10]:
# Fill Nan in rating data
rating_data=users_app_data[pd.notnull(users_app_data['rating'])]
median=np.median(rating_data['rating'])
users_app_data['rating'].fillna(median,inplace=True)

In [11]:
# from datetime import date
# today = date.today()

# # dd/mm/YY
# d1 = today.strftime("%Y-%m-%d")
# df = users_app_data[users_app_data.download_date == str(today.strftime("%Y/%m/%d"))]

In [12]:
users_app_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10839 entries, 0 to 10838
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   download_date    10839 non-null  datetime64[ns]
 1   user_id          10839 non-null  int64
 2   app              10839 non-null  object
 3   category         10839 non-null  object
 4   rating           10839 non-null  float64
 5   reviews          10839 non-null  int64
 6   app_size         10839 non-null  object
 7   installs         10839 non-null  object
 8   app_type         10838 non-null  object
 9   price            10839 non-null  object
 10  content_rating   10839 non-null  object
 11  genres           10839 non-null  object
 12  last_updated     10839 non-null  object
 13  current_version  10831 non-null  object
 14  android_version  10837 non-null  object
 15  app_id           10839 non-null  int64
 16  user_name        10839 non-null  object
 17  user_age         10839 non-null  int64
 18  user_location    10839 non-null  object
 19  time_spent_min   10839 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(13)
memory usage: 1.7+ MB

In [14]:
users_app_data.index.names = ['event_id']
users_app_data.to_csv('users_app_batch_client_data.csv')